* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

body{
    background:linear-gradient(to right, rgba(166, 198, 224, 0.801), rgba(30, 98, 153, 0.801));
    font-size: 1.4em;
    align-content: center;
    text-align: center;
    font-weight: 400;
}

header{
    display: inline-flex;
    margin: 0 auto;
}

header img{
    max-height: 20vh;
    margin-top: 40px;
    border-radius: 16px;
}

header section{
    margin: 1em;
}

header section h1{
    font-size: 5rem;
}

header section h2{
    font-size: 1.5rem;
}
header section p{
    font-size: 3rem;
}

main{
    height: 14em;
}
.container{
    color: white;
    position: absolute;
    top: 17em;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color: rgba(78, 49, 49, 0.5);
    padding: 1em;
    border-radius: 10px;}

.container h2{
    color: rgba(171, 208, 236, 0.822)
}

button{
    background-color: slateblue;
    color: white;
    border: none;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black ;
    cursor: pointer;
}
button:hover{
    background-color: rgb(84, 167, 67);
}

label{
    font-size: 1.5em;
    font-weight: 400;
}


input{
    width: 9em;
    height: 2.5em;
    padding: 0 0.5rem;
    margin-top: 14px;
    color: rgb(41, 39, 39);
    font-size: 1.3rem;
    font-weight: 700;
    border: 1px solid #040b18;
    border-radius: 8px;
    background:#ffffff;
}


input[type="submit"]:hover{
    background: rgba(80, 131, 173, 0.952);
    color: rgb(255, 255, 255); 
}

.second-step,
.final-step{
    display: none;
}

#figura img{
   max-height: 4em;
   margin: 10px;
   border-radius: 12px;
}
section{
    margin: 2em;
}

section img{
    width: 16em;
    height: 16em;
}
footer{
    margin: 2em 0;
    height: 2em;
}
footer p{
    margin: 2em;
    padding: 1em;
    font-size: 0.8em;
    font-weight: 800;
}
@media only screen and (max-width: 900px){

    header{
        margin: 1em;
    }
    header section h1{
        font-size: 2.8rem;}

    header section h2{
            font-size: 1.2rem;
        }
    
        header section p{
            font-size: 2.8rem;
        }
    
    .container{
        transform: translate(-50%,-24%);
        margin-top: 12px;
        top: 14em;
    }

    .container h2{
        color: rgba(171, 208, 236, 0.822);
        font-size: 1em;
        padding-bottom: 10px;
    }
    .container p{
        font-size: 1em;
        font-weight: 600;
    }
    .container button{
        font-size: 20px;
        padding: 10px;
        margin: 5px;
    }

    input{
        font-size: 1rem;
    }
    .container button {
        font-size: 16px;}

    section {
     margin: 1em;
            }
    section img {
         width: 14em;
         height: 12em;
        }
    
    footer{
        margin: 1em;
    }
    footer p{
        font-size: 0.8em;
    }      
                
}
@media only screen and (max-width: 500px){

    
    
    header{
        margin: 1em;
    }
    header img {
        max-height: 14vh;}

    header section h1{
        font-size: 2.4rem;}
    
        header section p{
            font-size: 2.5rem;
        }
        main {
            height: 16em;
        }
    .container{
        transform: translate(-50%,-22%);
        width: 64%;
    }


    .container p{
        font-size: 0.8em;
    }
    .container button{
        font-size: 14px;
    }
    label {
        font-size: 1em;
        }

    input{
        font-size: 1rem;
    }

    
    section img {
        width: 10em;
        height: 10em;}

    footer  {
        height: 1em;
        }

    footer p{
        font-size: 0.5em;
    }   
     
             
}

